.cus-canvas{
    background: rgb(50, 204, 243);
}

.input-ele{
    display: none;
    position: fixed;
    width: 180px;
    border: 0;
    background-color: #fff;
}

.draw-board{
    background-color: rgb(255, 255, 255);
}
.draw-board-part{
    margin: 10px;
}